
<div class="container mtb about">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="about-heading text-center">About </h2>
                </div>
            </div>
            <p class="text-muted">Working as a Mobile developer over 4 years, Native development (iOS and Android) and Xamarin C# mobile development.</p>
            <p class="text-muted">Over 5 years of experience in Web development, Front-end and small Back-end applications, working for a different market segments.</p>
            <p class="text-muted">Information System Bachelor (BSc CIS) with deep understanding of Mobile applications and Web.</p>
            <br/>
            <h5>Mobile:</h5>
            <ul class="list-inline about-tags margin-b-30">
                <li><a class="radius-50" href="javascript:void(0)">Native iOS Development</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Xamarin C# Mobile Development</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Native Android Development</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Core Data</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Location Services</a></li>
                <li><a class="radius-50" href="javascript:void(0)">MapKit</a></li>
                <li><a class="radius-50" href="javascript:void(0)">GoogleMaps API</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Web Service Integration</a></li>
                <li><a class="radius-50" href="javascript:void(0)">REST API</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Facebook SDK</a></li>
                <li><a class="radius-50" href="javascript:void(0)">API's</a></li>
                <li><a class="radius-50" href="javascript:void(0)">ReactiveUI</a></li>
                <li><a class="radius-50" href="javascript:void(0)">MVVM Cross</a></li>
            </ul>
            <br/>
            <h5>General:</h5>
            <ul class="list-inline about-tags margin-b-30">
                <li><a class="radius-50" href="javascript:void(0)">Scrum</a></li>
                <li><a class="radius-50" href="javascript:void(0)">MVC</a></li>
                <li><a class="radius-50" href="javascript:void(0)">MVVM</a></li>
                <li><a class="radius-50" href="javascript:void(0)">SQL</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Reactive programming</a></li>
            </ul>
            <br/>
            <h5>Web:</h5>
            <ul class="list-inline about-tags margin-b-30">
                <li><a class="radius-50" href="javascript:void(0)">HTML</a></li>
                <li><a class="radius-50" href="javascript:void(0)">CSS</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Java Script</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Angular.JS</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Knockout</a></li>
                <li><a class="radius-50" href="javascript:void(0)">Bootstrap</a></li>
                <li><a class="radius-50" href="javascript:void(0)">+ Frameworks</a></li>
            </ul>
            <!-- Cursos -->
            <div class="row ">
                <div class="col-md-12">
                    <h2 class="about-heading text-center">Courses</h2>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <p class="text-muted">SQL server 2008
                        <br>Professional development course
                        <br>Vocational computer course
                        <br>Workshops Adobe (Flash CS3, Fireworks CS3, Photoshop CS3)
                        <br>Java programmer course
                        <br>Angular JS course
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Languages -->
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="about-heading">Languages</h2>
                </div>
            </div>
            <div class="row text-center languageIcons">
                <div class="col-xs-6 ">
                    <span class="fa-stack fa-4x">
        <i id="brIcon" class="fa roudedMask fa-circle fa-stack-2x"></i>
        </span>
                    <h5 class="about-heading">Portuguese</h5>
                </div>
                <div class="col-xs-6">
                    <span class="fa-stack fa-4x">
        <i id="enIcon" class="fa roudedMask fa-circle fa-stack-2x"></i>
        </span>
                    <h5 class="about-heading">English</h5>
                </div>
            </div>
            <!-- Resume -->
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="about-heading">Resume</h2>
                    <p class="text-muted">My PDF Resume</p>
                </div>
            </div>
            
            <div class="row text-center ">
                <div class="col-md-12">
                    <a class="btn btn-xl" href="Bruno-Rosa-cv.pdf" title="DOWNLOAD CV PRINT" download="">Download</a>
                </div>
            </div>
        </div>
    </div>
</div><! --/container -->
