<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img class="img-responsive img-circle" src="{{ "/assets/img/bruno-show.jpg" | prepend: site.baseurl }}" alt="Bruno Show">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Bruno Lopes da Rosa</h1>
                <h5>(Show)</h5>
                <h4>Mobile Developer, Xamarin specialist and Native development (iOS &amp; Android), Information System Bachelor (BSc CIS), working in Berlin.</h4>			
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->